*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	padding: 24px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.table {
	width: 100%;
	border: 1px solid #eee;
}

.table-header {
	display: flex;
	background: #111;
	padding: 10px 0;
}

.header__item {
	color: #fff;
}

.table-row {
	display: flex;
	padding: 8px 0;
	background-color: #eee;
	border-bottom: 1px solid #fff;
}

.table-data,
.header__item {
	flex: 1 1 20%;
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #111;
	}
	.table {
		border-color: #222;
	}

	.table-header {
		background: #eee;
	}

	.header__item {
		color: #222;
	}

	.table-row {
		background-color: #222;
		color: #eee;
	}
}
